.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    z-index: 1;
}

.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: 700px;
    padding: 2em;
    gap: 2em;

    border: 2px outset var(--bright);
    border-radius: 10px;

    background: linear-gradient(var(--bordeaux), var(--blood));
    z-index: 1;
}