.nav {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
    background-color: var(--bordeaux);
}

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 1400px;
    margin: 10px 50px;
}

.nav__primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 75%;
    margin-right: 25px;
}

.nav__secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 32em;
}

.nav__logo-link {
    text-decoration: none;
}

.nav__logo {
    height: 40px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    flex-basis: 100%;
}

.nav__item {
    font-weight: 500;
    font-size: 26px;
    padding: 10px;
}

.nav__link {
    color: var(--bright);
    text-decoration: none;
    text-underline-offset: 5px;
    padding: 5px 0;
}

.nav__link:hover {
    color: var(--fire);
}

.nav__link--active {
    color: var(--fire);
    text-decoration: none;
    background-color: var(--dark);
    width: 1000px;
    border-radius: 16px;
}

.nav__item--button {
    padding: 12px 24px;
    background: #FCEBDB;
    border-radius: 7px;
    cursor: pointer;
}

.nav__item--button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
    outline: 1px solid #f7dfc8;
}

.nav__item--button > .nav__link {
    color: hsl(0, 0%, 0%, 1);
}

/*.navbar {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/

/*.navbar__container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    margin: 25px 50px;*/
/*    font-size: 1.3em;*/
/*}*/

/*.navbar__primary {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    margin-right: 25px;*/
/*}*/

/*.navbar__list {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    list-style-type: none;*/
/*    width: 1000px;*/
/*}*/

/*!*.navbar__list li{*!*/
/*!*    *!*/
/*!*}*!*/

/*.navbar__link{*/
/*    color: var(--bright);*/
/*    text-decoration: none;*/
/*}*/

/*.navbar__link:hover{*/
/*    color: var(--dark)*/
/*}*/

/*.nav__link--active{*/
/*    background-color: var(--dark);*/
/*    color: var(--fire);*/
/*    padding: 7px;*/
/*    border-radius: 10px;*/
/*    text-decoration: none;*/
/*}*/