.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 1400px;
    margin: 25px 50px;

    font-size: 1.3em;
}

.navbar__primary {
    display: flex;
    flex-direction: row;
    flex-basis: 25em;
    margin-right: 25px;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    flex-basis: 100%;
}

.navbar__list li{
    padding: 7px;
}

.navbar__link{
    color: var(--bright);
    text-decoration: none;
}