:root{
  --dark: #220901;
  --bordeaux: #621708;
  --blood: #941B0C;
  --fire: #BC3908;
  --bright: #F6AA1C;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: var(--dark);
  color: var(--bright);
}


