

:root{
  --dark: #220901;
  --bordeaux: #621708;
  --blood: #941B0C;
  --fire: #BC3908;
  --bright: #F6AA1C;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: var(--dark);
  color: var(--bright);
  z-index: 0;
}

.page-container{
  background-image: url(./assets/wave-haikei2.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*.test{*/
/*  clip-path: circle(175.6% at 50% 375%);*/

/*  background: linear-gradient(var(--bordeaux), var(--blood));*/
/*  z-index: -10;*/
/*}*/

